*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
  }
  body{
    font-size: 100%;
    background-color: aqua;
  }
  header{
     background-color:aquamarine;
    font-size: 100%;
    color: white;
    text-align: center;
    display:flex;
    flex-direction: row;
    width: 100%;
    padding: 20px; 
    
  }
  .logo{
    width: 300px;

    color:  rgb(109, 226, 214);
  }
  nav a{
    color: rgb(109, 226, 214);
  }

  img{
    
    
  }
  
  
  h1{
    width: 500px;
   color: rgb(4, 129, 255);
  }